<div class="flex flex-col gap-2 divide-y divide-gray-300 dark:divide-gray-700">
  <div class="flex justify-between pb-2">
    @if (resourceRef().status() !== 'loading') {
      <div class="flex">
        <button
          flowbiteButton
          [ngpTooltipTrigger]="RefreshTooltip"
          [ngpTooltipTriggerContainer]="tooltipContainer"
          (click)="resourceRef().reload()">
          <span class="sr-only">Reload data</span>
          <flowbite-icon
            name="refresh"
            class="size-4 stroke-2" />
        </button>
        <ng-template #RefreshTooltip>
          <div flowbiteTooltip>{{ 'misc.refresh' | translate }}</div>
        </ng-template>

        <div #tooltipContainer></div>
      </div>

      <button
        flowbiteButton
        [ngpMenuTrigger]="pageSizeDropdown"
        class="data-open:*:[flowbite-icon]:rotate-180">
        {{ pageSize() }}
        <flowbite-icon
          name="chevronDown"
          class="ml-2 size-4 stroke-2 transition-transform duration-150 ease-in-out" />
      </button>
      <ng-template #pageSizeDropdown>
        <div flowbiteDropdown>
          <ul flowbiteDropdownContent>
            @for (size of pageSizes; track $index) {
              <li
                role="none"
                flowbiteDropdownItem
                (click)="pageSize.set(size)">
                {{ size }}
              </li>
            }
          </ul>
        </div>
      </ng-template>
    }
  </div>
  <div class="flex flex-col gap-2">
    @if (resourceRef().isLoading()) {
      <app-loader />
    } @else if (resourceRef().error()) {
      <div class="flex flex-col gap-2">
        <div class="flex flex-col gap-2">
          <div>
            <span class="font-semibold">{{ 'misc.error.name' | translate }}</span>
          </div>
          <span>{{ resourceRef().error()?.name ?? '' }}</span>
        </div>
        <div class="flex flex-col gap-2">
          <div>
            <span class="font-semibold">{{ 'misc.error.message' | translate }}</span>
          </div>
          <span>{{ resourceRef().error()?.message ?? '' }}</span>
        </div>
      </div>
    } @else if (resourceRef().hasValue()) {
      @let value = resourceRef().value();

      @if (value !== undefined && value.data.length > 0) {
        <table
          flowbiteTable
          [tableHead]="header()"
          [tableBody]="body()"
          [tableFoot]="footer()"
          [data]="value.data"></table>

        <nav
          flowbitePagination
          class="self-end"
          [(page)]="pageNumber"
          [pageCount]="value.totalPages"></nav>
      } @else {
        <p class="font-medium">{{ 'misc:noData' | translate }}</p>
      }
    }
  </div>
</div>
