<nav
  flowbiteNavbar
  fixed
  color="info">
  <div class="flex flex-1 flex-row items-center gap-2">
    <a
      flowbiteNavbarBrand
      [routerLink]="['/']">
      <span class="sr-only">Brand</span>
      <span class="self-center text-2xl font-semibold whitespace-nowrap">wiki</span>
    </a>
  </div>

  <div flowbiteNavbarContent>
    @if (_isLoggedIn()) {
      <li>
        <a
          flowbiteNavbarItem
          [routerLink]="['/', 'app']">
          {{ 'nav.dashboard' | translate | titlecase }}
        </a>
      </li>
    }
  </div>

  <div class="flex flex-row items-center justify-start md:order-2">
    <button
      flowbiteThemeToggle
      type="button"
      color="info">
      <span class="sr-only">Theme toggle</span>
    </button>

    <button
      type="button"
      flowbiteNavbarToggle
      color="info">
      <span class="sr-only">Navbar toggle</span>
      <flowbite-icon
        name="bars"
        class="size-5 stroke-2" />
    </button>

    <button
      flowbiteButton
      [ngpMenuTrigger]="langDropdown">
      <span class="sr-only">LangDropdown toggle</span>
      <flowbite-icon
        [name]="_currentLanguageIcon()"
        class="size-3 stroke-2" />
    </button>
    <ng-template #langDropdown>
      <div
        flowbiteDropdown
        class="z-100">
        <ul flowbiteDropdownContent>
          @for (lang of _availableLanguages; track lang.code) {
            <li
              role="none"
              flowbiteDropdownItem
              (click)="onSetLang(lang.code)">
              <flowbite-icon
                [name]="lang.icon"
                class="size-3 stroke-2" />
              <span class="ml-2">{{ lang.name }}</span>
            </li>
          }
        </ul>
      </div>
    </ng-template>

    @if (_isLoggedIn()) {
      <img
        [ngpMenuTrigger]="loggedInUserDropdown"
        [src]="_authService.getIdToken()['picture'] ?? 'https://avatar.iran.liara.run/public'"
        fetchpriority="high"
        class="ml-5 size-10 rounded-full object-cover hover:cursor-pointer"
        width="480"
        height="480"
        alt="#"
        priority />
      <ng-template #loggedInUserDropdown>
        <div
          flowbiteDropdown
          class="z-100">
          <ul flowbiteDropdownContent>
            <li
              role="none"
              flowbiteDropdownItem
              (click)="_authService.logout()">
              <span>{{ 'misc.logout' | translate | titlecase }}</span>
            </li>
          </ul>
        </div>
      </ng-template>
    } @else {
      <flowbite-icon
        [ngpMenuTrigger]="notLoggedInUserDropdown"
        name="userCircle"
        class="ml-5 size-10 rounded-full stroke-1 hover:cursor-pointer" />
      <ng-template #notLoggedInUserDropdown>
        <div
          flowbiteDropdown
          class="z-100">
          <ul flowbiteDropdownContent>
            <li
              role="none"
              flowbiteDropdownItem
              (click)="_authService.login()">
              <span>
                {{ 'misc.login' | translate | titlecase }} /
                {{ 'misc.register' | translate | titlecase }}
              </span>
            </li>
          </ul>
        </div>
      </ng-template>
    }
  </div>
</nav>

<div class="mt-20 p-4">
  <router-outlet />
</div>
