/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

@import './app.css';

@source "../../../../node_modules/flowbite-angular";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
